<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/default.css"/>
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
</head>

<body>

<nav class="top_nav">
  <a class="menu_link" href="#">Home</a>
  <a class="menu_link" href="#">Poem 1</a>
  <a class="menu_link" href="#">Poem 2</a>
  <a class="menu_link" href="#">Poem 3</a>
</nav>

<article class="main">
  <section class="item">
    <p>
      A summer river being crossed <br />
      how pleasing <br />
      with sandals in my hands!
    </p>

    <p>
      Light of the moon <br />
      Moves west, flowers' shadows <br />
      Creep eastward.
    <p>

    <p class="last">
      In the moonlight, <br />
      The color and scent of the wisteria <br />
      Seems far away.
    </p>
  <section>
</article>

<footer>
  <div class="small-item">
    <a class= "link" href="https://github.com/Kungfoowiz/">Kungfoowiz 2018</a>
  </div>
</footer>

</body>

</html>
