* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.top_nav {

    background-color: #2D2D2B;
    overflow: hidden;

    .menu_link {
        color: #A59D92;
        text-decoration: none;
        padding: 14px 16px;
        display: block;
        float: left;

        &:hover {
            background-color: #88909E;
            color: #2D2D2B;
        }
    }
}

.main {
    background-color: #CFB5CA;
    min-height: 400px;
}

.item {
  margin: 0 auto;
  width: 400px;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  
  color: #2D2D2B;
}

.small-item {
  margin: 0 auto;
  width: 200px;
  padding-top: 75px;
  min-height: 200px;
  text-align: center;
}

.last {
    margin: 0;
    padding: 0;
}

footer {
    background-color: #2D2D2B;
}

.link {
  color: #A59D92;
  
  &:hover {
    background-color: #2D2D2B;
    color: #CFB5CA;
    text-decoration: none;
  }
}
